<!-- your html code here -->
<div class="row border border-1 m-5 p-5">
    <div class="col-7 pt-5 ps-5">
        <h1 class="m-2 d-inline-flex">The First Heading</h1>
        <h1 class="m-2 d-inline-flex" style="color:gray"> Will catch your eye</h1>
        <p class="fs-5">Walter White, profesor de química en un instituto, descubre que tiene cáncer de pulmón y
            decide
            trabajar
            junto con un ex-alumno elaborando metanfetamina de alta calidad para poder ganar dinero para que su
            familia
            se mantenga.</p>
    </div>
    <div class="col-5">
        <img class="rounded-circle float-md-end p-0" src="assets/img/1.jpg" alt="" style="width:300px;">
    </div>
</div>